@inject NavigationManager NavigationManager

@code
{
    protected void RedirectToLogin()
    {
        NavigationManager.NavigateTo("/login");
    }
}

<nav class="navbar navbar-expand-md menu_head">
    <div class="container p-md-0">
        <a class="navbar-brand" href="index.html"><img src="images/menu_logo.png" alt="menu_logo" class="img-fluid"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse main_menu" id="navbarNav">
            <ul class="navbar-nav m-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="promotion.html">Promotion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="game.html">Games</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="membership.html">Membership</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="error404.html">404</a>
                </li>
            </ul>
            <a href="sign_up.html">Singup</a>
            <a href="#" @onclick="RedirectToLogin">Login</a>
        </div>
    </div>
</nav>