@page "/login"

@layout AuthLayout

@inherits LoginViewModel

<!-- Sign in Start -->
<section class="sign-in-page">
    <div class="container sign-in-page-bg mt-5 mb-md-5 mb-0 p-0">
        <div class="row no-gutters">
            <div class="col-md-6 text-center">
                <div class="sign-in-detail text-white">
                    <a class="sign-in-logo mb-5" href="/"><img src="images/logo-white.png" class="img-fluid" alt="logo"></a>
                    <TelerikQRCode Size="220px"
                                   Value="@VerifyState.Value.QrUri"
                                   ErrorCorrection="@QRCodeErrorCorrectionLevel.M">
                        <QRCodeBorder Color="#000" Width="4"/>
                    </TelerikQRCode>
                </div>
            </div>
            <div class="col-md-6 position-relative">
                <div class="sign-in-from">
                    <h1 class="mb-0">Sign in</h1>
                    <p>Enter your email address and password to access admin panel.</p>
                    <form class="mt-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="mb-2">Email address</label>
                            <input type="email" class="form-control mb-0" id="exampleInputEmail1" placeholder="Enter email">
                        </div>
                        <div class="d-flex justify-content-between my-2">
                            <label for="exampleInputPassword1">Password</label>
                            <a href="pages-recoverpw.html" class="float-end">Forgot password?</a>
                        </div>
                        <input type="password" class="form-control mb-0" id="exampleInputPassword1" placeholder="Password">
                        <div class="d-flex w-100 justify-content-between  align-items-center mt-3 w-100">
                            <div class="custom-control custom-checkbox d-inline-block mt-2 pt-1">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Remember Me</label>
                            </div>
                            <button type="submit" class="btn btn-primary float-end">Sign in</button>
                        </div>
                        <div class="sign-info">
                            <span class="dark-color d-inline-block line-height-2">Don't have an account? <a href="sign-up.html">Sign up</a></span>
                            <ul class="iq-social-media">
                                <li><a href="#"><i class="ri-facebook-box-line"></i></a></li>
                                <li><a href="#"><i class="ri-twitter-line"></i></a></li>
                                <li><a href="#"><i class="ri-instagram-line"></i></a></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Sign in END -->