@using mdoc.ui.Shared.Landing;
@page "/"

@layout CommonLayout


<Menu></Menu>
<Banner></Banner>
<Game></Game>
<Claim></Claim>
<Membership></Membership>
<Tournament></Tournament>
<Payment></Payment>
<Footer></Footer>

<section>
    <div class="foot_bot text-center">
        <p>&copy; 2018. All rights reserved by Designer</p>
        <div class="effect">
            <img src="images/shape.png" alt="shape">
        </div>
    </div>
</section>

<Misc></Misc>