@* @page "/" *@
@page "/dashboard"
@inherits DashboardViewModel

<div class="dashboard">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h3 class="card-header">Commands</h3>
                <div class="card-body">
                    <div class="row">
                        <TelerikTextBox Width="100%"
                                        Enabled="false"
                                        @bind-Value="@VpToken"
                                        Id="token" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>